
@font-face {
    font-family: "Quicksand";
    src: url("fonts/Quicksand.ttf");
}

body {
	user-select: none;
	background-color: #eee ;
	font-family: "Quicksand";
}

.panel {
	border-radius: 50%;
	margin: auto;
	width: 45vw;
	height: 45vw;
	top: 0; right: 0; 
	bottom: 0; left: 0;
	position: absolute;
	background-color: #fff;
	clip-path: circle(50% at 50% 50%);
}

.quarter {
 	cursor: pointer;
	/*border: .25vw solid white;*/
	height: 22.5vw;
	width: 22.5vw;
	float: left;
}

.interactive:active {
  	opacity: 0.6 !important;
}

.shadow {
	height: 45vw;
	width: 45vw;
	border-radius: 50%;
	margin: auto;
	top: 0; right: 0; 
	bottom: 0; left: 0;
	position: absolute;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: inset 0 0 15vw rgba(0, 0, 0, .3),
	1vw 1vw 3vw rgba(0, 0, 0, .3);
}

.disp {
	border-radius: 50%;
	height: 20vw;
	width: 20vw;
	margin: auto;
	top: 0; right: 0;
	bottom: 0; left: 0;
	position: absolute;
	pointer-events: none;
	background-color: #eee;
	box-shadow: inset 1vw .5vw 4vw rgba(0, 0, 0, .5);
}

.center {
	color: #000;
	font-size: 7vw;
	text-align: center;
	vertical-align: middle;
	line-height: 18vw;
}

.msg {
	margin: 3.5vw;
	line-height: 5vw; 
	font-size: 4.5vw; 
}

.num {
	font-size: 12vw; 
}

.win {
	margin: 4vw;
	font-size: 7vw;
	line-height: 6vw;
}

.restart {
	margin-top: 3.5vw;
	font-size: 3.5vw;
	line-height: 4.5vw;
}
